
@{
    ViewBag.Title = "SurveyQ2SculptCent";
}

<h2>SurveyQ2ScuptCent</h2>

<form name="Genre" id="Choice1" action="SurveyQ3SculptCult" method="get">
    <table>
        <tr>
            <td>
                <img src="~/Content/Images/Century/Sculpt Cent Sylvia Shaw Savannah Bird Girl.jpg" height="200px" />
            </td>
            <td>
                <img src="~/Content/Images/Century/Sculpt Cent Statue of Liberty.jpg" height="200px" />
            </td>
            <td>
                <img src="~/Content/Images/Century/Sculpt Cent Falconet Bronze Horseman.jpg" height="200px" />
            </td>
            <td>
                <img src="~/Content/Images/Century/Sculpt Cent Bernini Apollo and Daphne.jpg" height="200px" />
            </td>
            <td>
                <img src="~/Content/Images/Century/Sculpt Cent-Michelangelo's_Pieta_5450_cut_out_black.jpg" height="200px" />
            </td>
            <td>
                <img src="~/Content/Images/Century/Sculpt Cent Sphinx.jpg" height="200px" />
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                <input type="radio" name="century" value="20th">
            </td>
            <td style="text-align:center">
                <input type="radio" name="century" value="19th">
            </td>
            <td style="text-align:center">
                <input type="radio" name="century" value="18th">
            </td>
            <td style="text-align:center">
                <input type="radio" name="century" value="17th">
            </td>
            <td style="text-align:center">
                <input type="radio" name="century" value="16th">
            </td>
            <td style="text-align:center">
                <input type="radio" name="century" value="BCE">
            </td>
        </tr>
    </table>
    <input type="submit" id="MedSubmit" value="Submit">
</form>