
@{
    ViewBag.Title = "SurveyQ1";
}

<h2>SurveyQ1</h2>
<form name="Medium" id="Choice1" action="SurveyQ2PaintCent" method="get">
    <table>
        <tr>
            <td>
                <img src="~/Content/Images/Main/Paint Main Dali Persistence.JPG" height="250px" />
            </td>
            <td>
                <img src="~/Content/Images/Main/Sculpt Main figma-the-table-museum-venus-de-milo-416511.1.jpg" height="250px"/>
            </td>
            <td>
                <img src="~/Content/Images/Main/Photo Main Winston Churchill.JPG" height="250px" />
            </td>

        </tr>
        <tr>
            <td style="text-align:center">
                <h2>Painting</h2>
                <input type="radio" name="Medium" value="Painting">
            </td>
            <td style="text-align:center">
                <h2>Sculpture</h2>
                <input type="radio" name="Medium" value="Sculpture">
            </td>
            <td style="text-align:center">
                <h2>Photography</h2>
                <input type="radio" name="Medium" value="Photgraphy">
            </td>
        </tr>
  

    </table>
    <input type="submit" id="MedSubmit" value="Submit">
</form>
