
@{
    ViewBag.Title = "SurveyQ3SculptCult";
}

<h2>SurveyQ3SculptCult</h2>
<form name="Genre" id="Choice2" action="../home/slideshow" method="get">
    <table>
        <tr>
            <td>
                <img src="~/Content/Images/Culture/Sculpt Cult 'David'_by_Michelangelo_Fir_JBU002.jpg" height="200px" />
            </td>
            <td>
                <img src="~/Content/Images/Culture/Sculpt Cult Daniel Chester Abraham Lincoln.jpg" height="200px" />
            </td>
            <td>
                <img src="~/Content/Images/Culture/Sculpt CultTianTanBuddha.jpg" height="200px" />
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                <input type="radio" name="culture" value="European">
            </td>
            <td style="text-align:center">
                <input type="radio" name="culture" value="American">
            </td>
            <td style="text-align:center">
                <input type="radio" name="culture" value="Asian">
            </td>
            @*test by Christopher*@
            <td>
                <input type="hidden" name="classification" value="Sculpture" />
                <input type="hidden" name="century" value="21st%20century" />
            </td>
            @*end of test*@
        </tr>
    </table>
    <input type="submit" id="MedSubmit" value="Submit">
</form>