
@{
    ViewBag.Title = "SurveyQ3PaintCult";
}

<h2>SurveyQ3PaintCult</h2>

<form name="Genre" id="Choice2" action="../home/portfolio" method="get">
    <table>
        <tr>
            <td>
                <img src="~/Content/Images/Culture/Paint Cult PicassoGuernica.jpg" height="200px" />
            </td>
            <td>
                <img src="~/Content/Images/Culture/Paint Cult Grant Wood American Gothic.JPG" height="200px"/>

            </td>
            <td>
                <img src="~/Content/Images/Culture/Paint Cult The Wave.JPG" height="200px"/>


            </td>
            

        </tr>
        <tr>
            <td style="text-align:center">
                <h2>European</h2>
                <input type="radio" name="Cult" value="European">
            </td>
            <td style="text-align:center">
                <h2>American</h2>
                <input type="radio" name="Cult" value="American">
            </td>
            <td style="text-align:center">
                <h2>Asian</h2>
                <input type="radio" name="Cult" value="Asian">
            </td>
           
        </tr>


    </table>
    <input type="submit" id="MedSubmit" value="Submit">
</form>