
@{
    ViewBag.Title = "SurveyQ1";
}

<h2>SurveyQ1</h2>
<form name="Medium" id="Choice1" action="Choice1" method="get">
    <table>
        <tr>
            <td>
                <img src="~/Content/Images/Main/Paint Main Dali Persistence.JPG" height="250px" />
            </td>
            <td>
                <img src="~/Content/Images/Main/Sculpt Main figma-the-table-museum-venus-de-milo-416511.1.jpg" height="250px"/>
            </td>
            <td>
                <img src="~/Content/Images/Main/Photo Main Winston Churchill.JPG" height="250px" />
            </td>

        </tr>
        <tr>
            <td style="text-align:center">
                <input type="radio" name="classification" value="SurveyQ2PaintCent">
            </td>
            <td style="text-align:center">
                <input type="radio" name="classification" value="SurveyQ2SculptCent">
            </td>
            <td style="text-align:center">
                <input type="radio" name="classification" value="SurveyQ2PhotoCent">
            </td>
        </tr>
  

    </table>
    <input type="submit" id="MedSubmit" value="Submit">
</form>
