
@{
    ViewBag.Title = "ErrorView";
}

<h2>Error!!</h2>

<h1>@ViewBag.Message</h1>


<h3>@Html.ActionLink("Please Go Back and Try Again", "Create")</h3>

<style>
    h3{
        color:lavenderblush;
        font-weight:bold;
    }
    h2{
        color:red;
        font-weight:bolder;
    }
    h1{
        color:firebrick;
        font-weight:bold;
    }
    
</style>