body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#Contact{
    color:#FFFFFF;
    background-size:auto;
    background-repeat:repeat-y;

}
body {
    background-color: #000000;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Images/latepaper3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: BLKCHCRY;
    font-weight: bolder;
}
@font-face {
    font-family: 'BLKCHCRY';
    src: url('../fonts/BLKCHCRY.TTF') format('truetype');
}
.navbar-brand {
    background-image: url('Images/louvre-portrait-de-lisa-gherardini-epouse-de-francesco-del-giocondo-dite-monna-lisa-la-gioconda-ou-la-jocon.jpg');
    background-size: 35px 50px;
    background-position: left;
    padding-left:50px;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
}
input[type='radio'] {
    transform: scale(2);
}
h2 {
    font-family: BLKCHCRY;
}

body#slideshowbody {
    display: none;
}
#HomePage{
    margin-left:auto !important;
    margin-right:auto !important;
}