@model IEnumerable<ArtAndYou.Models.Survey2>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<form name="Medium" id="Choice2" action="Index" method="get">

    <table class="table">
        <tr>
            @foreach (var item in Model)
            {
                <td>
                    <input type="radio" name="Century" value=@item.Year>
                    <img src="@Url.Content(item.ImageUrl)" height="100" width="100" />
                </td>
            }
        </tr>
    </table>
    <input type="submit" id="ClassSubmit" value="Submit">
</form>