
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>


@*<form name="Medium" id="MedForm" action="Choice" method="get">
    First Name:
    <br>
    <input type="text" name="firstName">
    <br>
    <select name="medium">

        <option value="Painting">Painting</option>
        <option value="Photography">Photography</option>
        <option value="Sculpture">Sculpture</option>
    </select>
    <inputtype="submit" id="MedSubmit" value="Submit">*@
    <form name="Genre" id="ThingGen" action="Q2Category" method="get">
        <h1> Paintings</h1>
        <input type="radio" name="Classification" value="Paintings"><img src="~/Content/Images/best-friends-abstract-colorful-mixed-media-painting-modern-art-prints.jpg" height="250px"/><br />
        <h1>Sculptures</h1>
        <input type="radio" name="CLassification" value="Sculpture"><img src="~/Content/Images/Rodin the Thinker.JPG" height="250px"/><br />
        <h1>Textiles</h1>
        <input type="radio" name="CLassification" value="Sculpture"><img src="~/Content/Images/Rodin the Thinker.JPG" height="250px" /><br />
        <h1>Prints</h1>
        <input type="radio" name="CLassification" value="Sculpture"><img src="~/Content/Images/Rodin the Thinker.JPG" height="250px" /><br />
        <input type="submit" id="MedSubmit" value="Submit">
    </form>