
@{
    ViewBag.Title = "Painting";

}
@ViewBag.Name
<h2>Painting</h2>
<form name="Genre" id="ThingGen" action="Q2Category" method="get">

    <input type="radio" name="Genre" value="New"><img src="~/Content/Images/guh.jpg" /><br>
    <input type="radio" name="Genre" value="Old"><img src="~/Content/Images/The_Nightwatch_by_Rembrandt.jpg" /><br />
    <input type="submit" id="MedSubmit" value="Submit">
</form>
