
@{
    ViewBag.Title = "Q1Genre";
}

<h2>Q1Genre</h2>

<form name="Genre" id="ThingGen" action="Q2Category" method="get">
    
    <input type="radio" name="Genre" value="New"><img src="~/Content/Images/guh.jpg" /><br>
    <input type="radio" name="Genre" value="Old"> Old<br />
    <input type="submit" id="MedSubmit" value="Submit">
</form>
