
@{
    ViewBag.Title = "Q2Category";
}
@ViewBag.Name
@ViewBag.Medium
@ViewBag.thing
<img src="https://goo.gl/images/7dk7BQ" />
<img src="https://en.wikipedia.org/wiki/Tank_Man#/media/File:Tianasquare.jpg" />
<h2>Q2Category</h2>
<img src="~/Content/Images/The_Nightwatch_by_Rembrandt.jpg" />
