@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title.</h1>


<h1>We believe there is a decline in the appreciation of art in the world . . .</h1>

<h3>. . . so together we went on a journey. We as a group learned a lot on this project. 
    What started out as just another class assignment became so much more.</h3>
<h3> Along the way, we added skills, C#, SQL , HTML , CSS and more. So come on the journey, 
    take our survey, research some art. Discover the passion you never knew you had.</h3>
<h4> Thank You for coming.</h4> 
<h4> Christopher Helgeson</h4>
<h4> Diane Watts</h4>
<h4> JJ Ryan</h4>

<p><a class="btn btn-default" @Html.ActionLink("Contact Us", "Contact", "Home")</a></p>
