@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Art N You site is for anyone who has an interest in art or wants to know more about art.  Our information and art comes from a beautiful museum.  
</p>    
<p>In this site you can take a short survey and find related art of your interest.
</p>    
<p>In the future we would provide ways to save the art as your screen saver!
</p>   
<p>We hope that you enjoy our site and if you have any questions please feel free to contact us. 
</p>

<p><a class="btn btn-default" @Html.ActionLink("Contact Us", "Contact", "Home")</a></p>
