@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Art N You<br />
    Grand Rapids, MI 49503<br />
    <abbr title="Phone">Phone:</abbr>
    800.Art.NYou
</address>

<address>
    <strong>Web Backend:</strong>   <a href="mailto:Support@example.com">JJ Ryan</a><br />
    <strong>API:</strong> <a href="mailto:Marketing@example.com">Christopher Helgeson</a><br />
    <strong>Database:</strong> <a href="mailto:dianewatts28@gmail.com">Diane Watts</a>
</address>

<style>
    body {
        background-image: url('../../Content/Images/best-friends-abstract-colorful-mixed-media-painting-modern-art-prints.jpg');
        background-position: right;
        background-repeat: repeat-y;
    }
</style>