
<body id="Contact">

@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



@*<address>
    <strong>Web Backend:</strong>   <a href="mailto:jryan@example.com">JJ Ryan</a><br />
    <strong>API:</strong> <a href="mailto:chelgeson@example.com">Christopher Helgeson</a><br />
    <strong>Database:</strong> <a href="mailto:dwatts@example.com">Diane Watts</a>
</address>*@

<style>
    body {
        background-image: url('../../Content/Images/best-friends-abstract-colorful-mixed-media-painting-modern-art-prints.jpg'); height: 500px;
        background-position: right;
        background-repeat:repeat-y;
        }
    .title{
        font-family:'Times New Roman', Times, serif;
    }
    h3{
        font-size:20px;
    }
    h2 {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }
    p class {
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
</style>

    <div class="row">
        <div class="column">
            <div class="card">

                <img src="~/Content/Images/Helgeson.jpg" alt="Christopher" style="width:20%">
                <div class="container">
                    <h2>Christopher Helgeson</h2>
                    <p class="title">API and Web Design</p>
                   
                </div>
            </div>
        </div>
        <div>

        </div>

        <div class="column">
            <div class="card">

                <img src="~/Content/Images/JJ Ryan.jpg" alt="JJ" style="width:30%">
                <div class="container">
                    <h2>JJ Ryan</h2>
                    <p class="title">Web Backend and Web Design</p>
                   </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Content/Images/img1.JPG" alt="Diane" style="width:30%">
                <div class="container">
                    <h2>Diane Watts</h2>
                    <p class="title">SQL and Web Design</p>
                   </div>
            </div>
        </div>
    </div>
    <div>
        <address>
            Art N You<br />
            Grand Rapids, MI 49503<br />
            
        </address>
    </div>
</body>