<h2>GetName</h2>

<form name="GetName" id="" action="TestSurvey" method="get">
    Enter your name:
    <input type="text" name="Name" value="New" />
    <br /><br />
    <input type="submit" id="" value="Submit">
</form>