<head><link rel="icon" type="image/x-icon"Survey2results
      href="~/Content/Images/favicon.ico" />
</head>


<img src="~/Content/Images/collage.jpg" height="350" width="1000"/>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Selecting the Lets Get Started button enter your name and we will ask a series of questions and then provide you with sample images we would recommend for you.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Lets Get Started", "Create", "UserInfoes")</a></p>
    </div>
    <div class="col-md-4">
            <h2>Research Your Own Art</h2>
            <p>Pick categories we suggested or just search for art you like based on preferences you select and see an art slide show</p>
            <p><a class="btn btn-default" @Html.ActionLink("Search for Art", "Query", "Home")</a></p>
        </div>
        <div class="col-md-4">
        <h2>All About Us</h2>
        <p>Learn more about Art N You by clicking on learn more.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Learn More", "About", "Home")</a></p>
    </div>
</div>