<script src="jquery-3.2.1.js"></script>
<script src="~/Scripts/THing.js"></script>

@{
    ViewBag.Title = "Portfolio";
}

<h2>Portfolio</h2>

<html>
<body>
    <p id="demo"></p>
            <script>
                var str = "@ViewBag.ObjectID";
                var res = str.split("*");
                document.getElementById("demo").innerHTML = res;
            </script>
         

</body>
</html>

@*<img src="@ViewBag.ApiText">*@