@{
    ViewBag.Title = "Portfolio";
}

<h2>Welcome, @ViewBag.Name!</h2>

<h2>Your choices indicate that you prefer <ins id="century"></ins>, <ins id="culture"></ins> <ins id="classification"></ins>.</h2>

<h2>This query returned <ins id="totalrecords"></ins> items. A sampling for your enjoyment:</h2>

<html>
    
    <body>
        <img src="https://artimages.blob.core.windows.net/artphoto/Edvard%20Munch%20The_Scream.jpg" id="4" name="image" alt=""/>
        <img src="nothing.jpg" id="5" name="image" alt=""/>
        <img src="nothing.jpg" id="6" name="image" alt=""/>
        <img src="nothing.jpg" id="7" name="image" alt=""/>
        <img src="nothing.jpg" id="8" name="image" alt=""/>
        <img src="nothing.jpg" id="9" name="image" alt=""/>
        <script>
            var str = "@ViewBag.ObjectID";
            var res = str.split(",");
            var i = 0;
            document.getElementById("totalrecords").innerHTML = res[0];
            document.getElementById("classification").innerHTML = res[1];
            document.getElementById("culture").innerHTML = res[2];

            //remove the %20 (space for http urls)
            var newcent = res[3].replace("%20c", " C");
            document.getElementById("century").innerHTML = newcent;

            for (i = 4; i < 10; i++)
            {
                document.getElementById(i).src = res[i];
            }
        </script>
    </body>
</html>