
@{
    ViewBag.Title = "Query";
}

<h2>Query</h2>

<body>
    <form name="Query" onsubmit="return validateForm()" action="SlideShow" method="get">
        <div class="col-md-12">
            <div>
                <br />*Classification:<br>
                <select name="Classification">
                    <option value="Paintings">Paintings</option>
                    <option value="Sculpture">Sculpture</option>
                    <option value="Photographs">Photographs</option>
                    <option value="Prints">Prints</option>
                    <option value="Drawings">Drawings</option>
                    <option value="Textile%20Arts">Textile Arts</option>
                </select>
            </div>
            
            <div>
                <br />*Culture:<br>
                <select name="Culture">
                    <option value="American">American</option>
                    <option value="German|French|Italian|British">European</option>
                    <option value="Japanese|Chinese">Asian</option>
                    <option value="German">German</option>
                    <option value="French">French</option>
                    <option value="Italian">Italian</option>
                    <option value="British">British</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Byzantine">Byzantine</option>
                    <option value="Greek">Greek</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Roman">Roman</option>
                </select>
            </div>
            <div>
                <br />*Century:<br>
                <select name="Century">
                    <option value="21st%20century">21st Century</option>
                    <option value="20th%20century">20th Century</option>
                    <option value="19th%20century">19th Century</option>
                    <option value="18th%20century">18th Century</option>
                    <option value="17th%20century">17th Century</option>
                    <option value="16th%20century">16th Century</option>
                    <option value="15th%20century">15th Century</option>
                    <option value="14th%20century">14th Century</option>
                    <option value="13th%20century">13th Century</option>
                    <option value="12th%20century">12th Century</option>
                    <option value="11th%20century">11th Century</option>
                    <option value="10th%20century">10th Century</option>
                    <option value="9th%20century">9th Century</option>
                    <option value="8th%20century">8th Century</option>
                    <option value="7th%20century">7th Century</option>
                    <option value="6th%20century">6th Century</option>
                    <option value="5th%20century">5th Century</option>
                    <option value="4th%20century">4th Century</option>
                    <option value="3rd%20century%20CE">3rd Century CE</option>
                    <option value="2nd%20century%20CE">2nd Century CE</option>
                    <option value="1st%20century%20CE">1st Century CE</option>
                    <option value="1st%20century%20BCE">1st Century BCE</option>
                    <option value="2nd%20century%20BCE">2nd Century BCE</option>
                    <option value="3rd%20century%20BCE">3rd Century BCE</option>
                    <option value="4th%20century%20BCE">4th Century BCE</option>
                    <option value="5th%20century%20BCE">5th Century BCE</option>
                    <option value="6th%20century%20BCE">6th Century BCE</option>
                    <option value="7th%20century%20BCE">7th Century BCE</option>
                    <option value="8th%20century%20BCE">8th Century BCE</option>
                    <option value="9th%20century%20BCE">9th Century BCE</option>
                    <option value="10th%20century%20BCE">10th Century BCE</option>
                    <option value="11th%20century%20BCE">11th Century BCE</option>
                    <option value="12th%20century%20BCE">12th Century BCE</option>
                    <option value="13th%20century%20BCE">13th Century BCE</option>
                    <option value="14th%20century%20BCE">14th Century BCE</option>
                    <option value="15th%20century%20BCE">15th Century BCE</option>
                    <option value="16th%20century%20BCE">16th Century BCE</option>
                    <option value="17th%20century%20BCE">17th Century BCE</option>
                    <option value="18th%20century%20BCE">18th Century BCE</option>
                    <option value="19th%20century%20BCE">19th Century BCE</option>
                    <option value="20th%20century%20BCE">20th Century BCE</option>
                    <option value="1st%20millenium%20BCE">1st Millenium BCE</option>
                    <option value="2nd%20millenium%20BCE">2nd Millenium BCE</option>
                    <option value="3rd%20millenium%20BCE">3rd Millenium BCE</option>
                    <option value="4th%20millenium%20BCE">4th Millenium BCE</option>
                    <option value="5th%20millenium%20BCE">5th Millenium BCE</option>
                    <option value="6th%20millenium%20BCE">6th Millenium BCE</option>
                </select>
            </div>
            <br><br>
            <input type="submit" value="Submit">
            <br><br>

            <p>Items marked with an asterisk (*) are required.</p>
        </div>
    </form>
</body>