
@{
    ViewBag.Title = "Query";
}

<h2>Query</h2>

<body>
    <form name="Query" onsubmit="return validateForm()" action="SlideShow" method="get">
        <div class="col-md-12">
            <div>
                <br />*Classification:<br>
                <select name="Classification">
                    <option value="Paintings">Paintings</option>
                    <option value="Sculpture">Sculpture</option>
                    <option value="Photographs">Photographs</option>
                    <option value="Prints">Prints</option>
                    <option value="Drawings">Drawings</option>
                    <option value="Textile%20Arts">Textile Arts</option>
                </select>
            </div>
            
            <div>
                <br />*Culture:<br>
                <select name="Culture">
                    <option value="American">American</option>
                    <option value="German">German</option>
                    <option value="French">French</option>
                    <option value="Italian">Italian</option>
                    <option value="British">British</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Byzantine">Byzantine</option>
                    <option value="Greek">Greek</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Roman">Roman</option>
                </select>
            </div>
            <div>
                <br />*Century:<br>
                <select name="Century">
                    <option value="21st%20century">21st Century</option>
                    <option value="20th%20century">20th Century</option>
                    <option value="19th%20century">19th Century</option>
                    <option value="18th%20century">18th Century</option>
                    <option value="17th%20century">17th Century</option>
                    <option value="16th%20century">16th Century</option>
                    <option value="15th%20century">15th Century</option>
                    <option value="14th%20century">14th Century</option>
                </select>
            </div>
            <br><br>
            <input type="submit" value="Submit">
            <br><br>

            <p>Items marked with an asterisk (*) are required.</p>
        </div>
    </form>
</body>