<script src="~/Scripts/slideShow.js"></script>

@{
    ViewBag.Title = "SlideShow";
}

<h2>Your choices indicate that you prefer <ins id="century"></ins>, <ins id="culture"></ins> <ins id="classification"></ins>.</h2>

<h2>This query returned <ins id="totalrecords"></ins> items. A sampling for your enjoyment:</h2>

<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!-- For intranet testing only, remove in production. -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Slide Show</title>
</head>

<body>
    <style>
        /*set opacity to zero as images load*/
        img{
            opacity:0;
        }
    </style>
    <div id="slideShowImages">
        <img src="nothing.jpg" id="4" name="image" alt="" />
        <img src="nothing.jpg" id="5" name="image" alt="" />
        <img src="nothing.jpg" id="6" name="image" alt="" />
        <img src="nothing.jpg" id="7" name="image" alt="" />
        <img src="nothing.jpg" id="8" name="image" alt="" />
        <img src="nothing.jpg" id="9" name="image" alt="" />
    </div>
    <br />
    <button id="slideShowButton"></button> <!-- Optional button allows user to pause on current image. -->
    <script src="slideShow.js"></script>
    <script>
        var str = "@ViewBag.ObjectID";
        var res = str.split(",");
        
        //document.getElementById("totalrecords").innerHTML = res[0];
        //document.getElementById("classification").innerHTML = res[1];
        //document.getElementById("culture").innerHTML = res[2];
        //document.getElementById("century").innerHTML = res[3];

        if (res[3] == "3rd%20century%20CE|2nd%20century%20CE|1st%20century%20CE|1st%20century%20BCE|2nd%20century%20BCE|3rd%20century%20BCE|4th%20century%20BCE|5th%20century%20BCE")
        {
            res[3] = "Tommy Time!";
        }

        //remove the '%20' (the space code necessary for http urls)
        var newclass = res[1].replace("%20", " ");
        var newcent1 = res[3].replace("%20", " ");
        var newcent2 = newcent1.replace("%20", " ");
        var newcent3 = newcent2.replace("cent", "Cent");
        var newcent4 = newcent3.replace("mill", "Mill");
        var newculture = "";
        if (res[2] == "German|French|Italian|British") {
            newculture = "European";
        }
        else if (res[2] == "Japanese|Chinese") {
            newculture = "Asian";
        }
        else {
            newculture = res[2];
        }

        document.getElementById("totalrecords").innerHTML = res[0];
        document.getElementById("classification").innerHTML = newclass;
        document.getElementById("culture").innerHTML = newculture;
        document.getElementById("century").innerHTML = newcent4;

        var i = 0;
        for (i = 4; i < 10; i++)
        {
            document.getElementById(i).src = res[i];
        }
    </script>
</body>

</html>