<script src="~/Scripts/slideShow.js"></script>
<script src="~/Scripts/PreloadImages.js"></script>

@*<script>
    preload([
        <img src="nothing.jpg" id="4" />,
        //'~/Content/Images/nw.jpg',
        //'img/pear.jpg'
    ]);
</script>

<script>
    $(function () {
        $('body#slideshowbody').show();
        // or fade it in: $('body').fadeIn();
    });
</script>*@

@{
    ViewBag.Title = "SlideShow";
}

<h2>Your choices indicate that you prefer <ins id="century"></ins>, <ins id="culture"></ins> <ins id="classification"></ins>.</h2>

<h2>This query returned <ins id="totalrecords"></ins> items. A sampling for your enjoyment:</h2>

<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!-- For intranet testing only, remove in production. -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Slide Show</title>
</head>

<body @*id="slideshowbody"*@>
    <style>
        img{
            opacity:0;
        }
    </style>
    <div id="slideShowImages">
        <img src="nothing.jpg" id="4" name="image" alt="" />
        <img src="nothing.jpg" id="5" name="image" alt="" />
        <img src="nothing.jpg" id="6" name="image" alt="" />
        <img src="nothing.jpg" id="7" name="image" alt="" />
        <img src="nothing.jpg" id="8" name="image" alt="" />
        <img src="nothing.jpg" id="9" name="image" alt="" />
    </div>
    <br />
    <button id="slideShowButton"></button> <!-- Optional button element. -->
    <script src="slideShow.js"></script>
    <script>
        var str = "@ViewBag.ObjectID";
        var res = str.split(",");
        
        document.getElementById("totalrecords").innerHTML = res[0];
        document.getElementById("classification").innerHTML = res[1];
        document.getElementById("culture").innerHTML = res[2];

        //remove the %20 (space for http urls) 
        var newcent = res[3].replace("%20c", " C");
        document.getElementById("century").innerHTML = newcent;

        var i = 0;
        for (i = 4; i < 10; i++)
        {
            document.getElementById(i).src = res[i];
        }
    </script>
</body>

</html>