<script src="jquery-3.2.1.js"></script>
<script src="~/Scripts/THing.js"></script>

@{
    ViewBag.Title = "Textile Centuries";
}

<h2>Textile Century Info</h2>

@ViewBag.ApiText;

<html>
<body>
    <p id="0">test</p>
    <p id="1">test</p>
    <p id="2">test</p>
    <p id="3">test</p>
    <p id="4">test</p>
    <p id="5">test</p>
    <p id="6">test</p>
    <p id="7">test</p>
    <p id="8">test</p>
    <p id="9">test</p>
    <p id="10">test</p>
    <p id="11">test</p>
    <p id="12">test</p>
    <p id="13">test</p>
    <p id="14">test</p>
    <p id="15">test</p>
    <p id="16">test</p>
    <p id="17">test</p>
    <p id="18">test</p>
    <p id="19">test</p>
    <p id="20">test</p>
    <p id="21">test</p>
    <p id="22">test</p>
    <p id="23">test</p>
    <p id="24">test</p>
    <p id="25">test</p>
    <p id="26">test</p>
    <p id="27">test</p>
    <p id="28">test</p>
    <p id="29">test</p>
    <p id="30">test</p>
    <p id="31">test</p>
    <p id="32">test</p>
    <p id="33">test</p>
    <p id="34">test</p>
    <p id="35">test</p>
    <p id="36">test</p>
    <p id="37">test</p>
    <p id="38">test</p>
    <p id="39">test</p>
    <p id="40">test</p>
    <p id="41">test</p>
    <p id="42">test</p>
    <p id="43">test</p>
    <p id="44">test</p>
    <p id="45">test</p>
    <p id="46">test</p>
    <p id="47">test</p>
    <p id="48">test</p>
    <p id="49">test</p>
    <p id="50">test</p>
    <p id="51">test</p>
    <p id="52">test</p>
    <p id="53">test</p>
    <p id="54">test</p>
    <p id="55">test</p>
    <p id="56">test</p>
    <p id="57">test</p>
    <p id="58">test</p>
    <p id="59">test</p>
    <p id="60">test</p>
    <p id="61">test</p>
    <p id="62">test</p>
    <p id="63">test</p>
    <p id="64">test</p>
    <p id="65">test</p>
    <p id="66">test</p>
    <p id="67">test</p>
    <p id="68">test</p>
    <p id="69">test</p>
    <p id="70">test</p>
    <p id="71">test</p>
    <p id="72">test</p>
    <p id="73">test</p>
    <p id="74">test</p>
    <p id="75">test</p>
    <p id="76">test</p>
    <p id="77">test</p>
    <p id="78">test</p>
    <p id="79">test</p>
    <p id="80">test</p>
    <p id="81">test</p>
    <p id="82">test</p>
    <p id="83">test</p>
    <p id="84">test</p>
    <p id="85">test</p>
    <p id="86">test</p>
    <p id="87">test</p>
    <p id="88">test</p>
    <p id="89">test</p>
    <p id="90">test</p>
    <p id="91">test</p>
    <p id="92">test</p>
    <p id="93">test</p>
    <p id="94">test</p>
    <p id="95">test</p>
    <p id="96">test</p>
    <p id="97">test</p>
    <p id="98">test</p>
    <p id="99">test</p>

    <script>
            var str = "@ViewBag.Textiles";
            var res = str.split(",");
            var i = 0;
            for (i = 0; i < 100; i++)
            {
                document.getElementById(i).innerHTML = res[i];
            }
    </script>
</body>
</html>